<div id="root"></div>

@section scripts {
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/react/dist/bundle.js"></script>
    <script src="~/bootstrap/bootstrap.min.js"></script>
}
